node_modules/
dist_pc/
dist_soundtrack/
steam_build_output/
steam_build_output_soundtrack/
*.exe
*.asar
*.zip
*.jks
*.bak
apply_diag.js
check_syntax_detailed.js
debug_diff.txt
stable_full_tail.txt
stable_script_block.txt

assets/
